<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<h5>
<table class="table table-bordered">
  <tr>
    <td> Total Number of Products types: </td>
    <td> 
    <a href="admin/products"> <%= @total_products %> </a>
    </td>
  <tr>
  <tr>
    <td> Total Number of Categories types: </td>
    <td> <%= @total_categories %> </td>
  </tr>
</table>
</h5>

