<section class="products-index">
  <header class="page-header">
    <div class="intro">
      <h1> About Us </h1>
    </div>
  </header>
  <article>
  <p> Honestly, there's not much to say. We just love plants. </p>
  </article>
</section>